

  <div class="container">
    <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="isLogin">
      <div class="navbar-nav">
          <a class="nav-item nav-link" (click)="addPosts()">Add Post</a>
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
  </nav>
  </div>
<div *ngIf="!addPost">
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Login User Posts">
      <ng-template matTabContent>       
            <div *ngFor="let post of userPosts">                
                <app-cards [carditem]="post"></app-cards>
            </div>  
      </ng-template>
    </mat-tab>
    <mat-tab label="Other User Posts">
      <ng-template matTabContent>
        <div *ngFor="let otherpost of otherUserPost">
        <app-cards [carditem]="otherpost"></app-cards>
        </div>
      </ng-template>
    </mat-tab> 
  </mat-tab-group>
  </div>
  <div *ngIf="addPost">
    <h2>Add Post</h2>
    <div class="">
     
  
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="saveposts.title"
            name="title"
          />
        </div>
    
        <div class="form-group">
          <label for="description">Body</label>
          <input
          type="text" 
            class="form-control"
            id="body"           
            required
            [(ngModel)]="saveposts.body"
            name="body"
          />
        </div>
        <br>
        <button (click)="savePost()" class="btn btn-success">Submit</button>
      
    </div>
  </div>